<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= event.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= event.end %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= event.color %>
  </p>

</div>
