<!DOCTYPE html>
<html>
  <head>
    <title>FullcalendarRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css"%>
  </head>

  <body>
    <%= yield %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"%>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locale-all.js"%>
    <script>
      document.addEventListener('turbo:load', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },

          locale: 'pt-br',
          lang: 'pt-br',

          dayNames: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 
           'Quinta-feira', 'Sexta-feira', 'Sábado'],

          buttonText: {
            prevYear: "Ano anterior",
            nextYear: "Próximo ano",
            year: "Ano",
            today: "Hoje",
            month: "Mês",
            week: "Semana",
            day: "Dia",
            list: "Lista",
          },

          events: "/escalas.json",

          weekText: "S",
          weekTextLong: "Semana",
          closeHint: "Fechar",
          timeHint: "Tempo",
          eventHint: "Evento",
          allDayText: "Dia todo",
          moreLinkText: "Mais",
          noEventsText: "Sem eventos para exibir",

          selectable: true,
          selectHelper: true,
          editable: true,
          eventLimit: true,

          height: 500
        });
        calendar.render();
      });
    </script>
  </body>
</html>
